*{
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(163, 0, 0);
}



.navbar {
    height: 10vh;
    position:fixed;
    top: 0;
    width: 100%;
    background-color:rgb(204, 204, 204);
}


.navbar-list{
    height: 10vh;
    display: grid;
    grid-template-rows: 15% 70% 15% ;
    grid-template-columns: repeat(8, 12.5%);
    list-style: none;
    align-items: center;


}

.navbar-list li a {
    text-decoration: none;
    color: gray;
    font-size:32px;
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    transform-origin: center;
    transition: text-decoration-color  500ms, color 500ms;
    z-index: 9999;
}


.nav-item a:hover {
    color: black;
    text-decoration-color: rgba(0, 0, 0, 1);
}

.nav-item {
    justify-self: center;
}

.nav-item1 {
    grid-row-start:2 ;
    grid-column-start:2 ;
}

.nav-item2 {
    grid-row-start:2 ;
    grid-column-start:3 ;
}
.nav-item3 {
    grid-row-start:2 ;
    grid-column-start:4 ;
}
.nav-item4 {
    grid-row-start:2 ;
    grid-column-start:5 ;
}
.nav-item5 {
    grid-row-start:2 ;
    grid-column-start:6 ;
}

.nav-item6 {
    grid-row-start:2 ;
    grid-column-start:7 ;
}



.mainslide {
    margin-top: 10vh;
    height: 60vh;
    background-color:grey;
    
}

.slide1 img{
    height: 60vh;
}


.Products h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.storeTileGrid {
    /* margin-top: 10vh; */
    height: 40vh;
    display: grid;
    margin-left: 18.5vw;
    grid-template-columns: 15vw 15vw 15vw 15vw  ;
    grid-template-rows: 30vh 30vh 30vh;
    gap: 1vw;
}

.storeTile {
    background-color: rgb(182, 182, 182);
    border-radius: 15px;
    width: 15vw;
    height: 30vh;
    display:flex;   
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.storeTile:hover {
    top: -10px;
}

.storeTile img {
    height: 60%;
    padding: 10px;

}

.storeTile p {
    text-align: center;
    padding: 10px;
    
}



